asgiref==3.7.2
certifi==2023.11.17
charset-normalizer==3.3.2
defusedxml==0.7.1
Django==5.0.1
django-redis==5.4.0
djangorestframework==3.14.0
et-xmlfile==1.1.0
fonttools==4.47.2
fpdf==1.7.2
fpdf2==2.7.7
idna==3.6
openpyxl==3.0.10
pillow==10.2.0
pytz==2023.4
redis==5.0.1
requests==2.31.0
sqlparse==0.4.4
tzdata==2023.4
urllib3==2.1.0
xmltodict==0.13.0
